{% extends 'base.html' %}

{% block content %}
<div style="text-align:center">
<h2>Присоединиться к тренировке? </h2>
    <form method="post">
        <input class="btn btn-warning" type="submit" name="yes" style="background-color: lightblue ; border-color: lightgrey"  class="btn btn-success" value="Да"/>
        <a <button type="button" href="/raspis" class="btn btn-light text-dark me-2" style="background-color: lightgrey ; border-color: lightgrey ">Нет</button></a>
        </form>
</div>

{% endblock %}