{% extends 'base.html' %}

{% block body %}
<a <button href="/raspis" type="button" class="btn btn-warning" style="background-color: lightblue ; border-color: lightblue ">Расписание</button></a>
<div class="album py-5 bg-light">
    <div class="container">
        <h1>Профиль</h1>
        <div>
            <table>
                <tr>
                    <td>Имя:&nbsp</td>
                    <td>{{ account['client_name'] }}</td>
                </tr>
                <tr>
                    <td>Телефон: </td>
                    <td>{{ account['client_phone'] }}</td>
                </tr>
                <tr>
                    <td>О себе: </td>
                    <td>{{ account['client_text'] }}</td>
                </tr>
            </table>
            {% if account %}
            <p><a href="{{ url_for('edit', id_edit=session['id_user']) }}">Редактировать</a></p>
            {% endif %}
            <a <button  href="{{ url_for('logout')}}" type="button" class="btn btn-warning" style="background-color: red; border-color: red ">Выйти из своей учетной записи</button></a>
             {% endblock %}


        </div>
    </div>
</div>

{% block content %}

<div class="album py-5 bg-light">
    <div class="container">
        <h1>Мои тренировочки</h1>
        <ul class="list-posts">
          {% for i in addtrain %}
          </li>
            <p class="title"><a href="{{ url_for('infotrain', id_train=i.numb)}}">Тренировка №{{i.numb}}</a></p>
            <a <button type="button" href="{{ url_for('deletezap', id_deletezap=i.numb )}}" class="btn btn-light text-dark me-2" style="background-color: palevioletred ; border-color: palevioletred ">Отменить запись</button></a>
            </li>
          {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}

